body{
    background-color: #fed8aa;
}
 h1{
    color: #e975e3;
 }
 h2{
    color: #eb6ef0;
 }
.registrar {
    border-radius: 5px;
    background-color:#E9FFEC;
    color: #fff5e9;
 }
.iniciar sesion {
    border-radius: 5px;
    background-color:#6ded74;
    color: #fff5e9;
 }
.etiqueta{
    background-color: #f085b1;
 } 
 